/*section {*/
/*border: lightcyan 3px solid;*/
/*border-radius: 0.5em;*/
/*}*/

/*.gistViewPanel {*/
/*display: flex;*/
/*flex-flow: row wrap;*/
/*}*/

/*.gistViewPanelItem {*/
/*display: block;*/
/*background-color: RGBA(200, 200, 260, 0.30);*/
/*border-radius: 1em;*/
/*padding: 0.5em;*/
/*flex-grow: 2;*/
/*}*/

/*.gistViewItem {*/
/*display: block;*/
/*background-color: RGBA(200, 200, 260, 0.30);*/
/*border-radius: 1em;*/
/*padding: 0.5em;*/
/*}*/

/*.gistViewFileItem {*/
/*display: block;*/
/*text-wrap: normal;*/
/*border: cyan dotted 0.5em;*/
/*}*/

.ellipses {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dont-break-out {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}