extends layout

block content
    h1 Markdown API server
    p #{description}
    div
        h3 Instructions
        p gist
        ol
            li Use an HTTP GET request, at the end of the URL, call /gist/[gist id here]
            li Receive markdown document