extends layout

block content
    h1 Markdown API server
    p #{description}
    div
        h3 Instructions
        ol
            li Use an HTTP GET request, with the parameter 'gistid' set.
            li Receive markdown document